.arrow-icon {
  position: absolute;
  right: 15px;
  bottom: 10px;
  height: 40px;
}

.arrow-icon:hover {
  cursor: pointer;
  opacity: 0.7;
}

#dark .arrow-icon {
  background-color: white;
  border-radius: 10px;
}
