#experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  text-align: center;
  position: relative;
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Smooth fade-in transition */
}

#experience.visible {
  opacity: 1;
}

.experience-text p {
  font-size: 20px;
  font-weight: 600;
  color: rgb(94, 91, 91);
  margin-bottom: 20px;
}

.experience-text h1 {
  font-size: 40px;
  font-weight: 600;
  white-space: nowrap;
  margin-bottom: 40px;
  width: 0;
  overflow: hidden;
}

.typing-visible {
  animation: typing 3s steps(30, end) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.experience-about-container {
  border: 1px solid rgb(99, 97, 97);
  border-radius: 20px;
  width: 60%;
  padding-bottom: 15px;
  box-shadow: 0px 0px 10px rgb(150, 147, 147);
}

.experience-about-container h2 {
  color: rgb(111, 108, 108);
  font-weight: 600;
  margin: 10px 0;
  margin-bottom: 30px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
}

.skills-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-text h3 {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 400;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
}

.skills-text h4 {
  color: grey;
}

.skills img {
  display: flex;
  margin-bottom: 15px;
  width: 50px;
}
