.search-bar-container {
  border: 1.35px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: rgb(216, 213, 213);
  position: absolute;
  left: 25%;
  top: 36%;
}

.search-bar-container input {
  border: none;
  background-color: transparent;
}

.search-bar-container input:focus {
  outline: none;
}

.search-icon {
  height: 16px;
  width: 16px;
}

.clear-search-icon {
  height: 15px;
}

.clear-search-icon:hover {
  transform: scale(1.2);
  transition: all 0.3s;
  cursor: pointer;
}
